label{
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    border: 5px white solid;
}

#capture_btn{
    font-size: 25px;
    border: 5px white solid;
    border-radius: 15px;
}

canvas{
    border: 5px white solid;
    border-radius: 15px;
}